{
  "env": {
    "commonjs": {
      "presets": ["env", "react"],
      "plugins": ["transform-runtime"]
    },
    "esm": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": ["transform-runtime"]
    }
  }
}
